<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">

<style>

  .outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .middle {
    display: table-cell;
    vertical-align: middle;
  }

  .inner {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    /*whatever width you want*/
  }
</style>
</head>

<body>

<div class="outer">
  <div class="middle">
    <div class="inner">
      <div *ngIf="!user" id="okta-login-container"></div>
      <div *ngIf="user">
        Hello {{user}} <p></p>
        Copy this link to download the assignment feedback (Code: k9cm):<p></p> https://pan.baidu.com/s/1A3t7F6hRFHF7pYfzZCK-Uw
        <p></p><button (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</div>


</body>

</html>
